<header class="header-library">
  <div class="container">
    <div class="header-lib__container">
      <a class="header__logo" href="./index.html">
        <svg class="header__icon" width="24" height="24">
          <use href="./images/sprite.svg#film"></use>
        </svg>
        <span class="header__text">Filmoteka</span>
      </a>
      <nav class="header__nav-list">
        <!-- <div class="navigation__container"> -->
        <ul class="header__list">
          <li class="header__item">
            <a class="header__link" href="./index.html">home</a>
          </li>
          <li class="header__item">
            <a class="header__link header__link--current" href="./library.html"
              >Мy library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <!-- </div> -->
    <div class="filter__list">
      <button name="watched" type="button" class="filter__item-watched">
        Watched
      </button>
      <button name="queue" type="button" class="filter__item-queue active">
        Queue
      </button>
    </div>
  </div>
</header>

<div class="btn-up btn-up_hide">
  <div class="btn-round"></div>
</div>
<div class="btn-bottom btn-bottom_hide">
  <div class="btn-round"></div>
</div>
